body,
html {
  margin: 0px;
  /* background: #000; */

}

input {
  width: 512px;
}

.vc-greeting-card-options {
  paddinG: 8px;
}

/* canvas {
  padding-top: 10px;
  display: block;
  width: 90%;
}



button {
  display: block;
  width: 25%;
  margin: auto;

  padding: 8px;
  background-color: red;
  cursor: pointer;
} */